################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AdventOfCode2024/.vs
/AdventOfCode2024/AdventOfCode2024/bin/Debug/net8.0
/AdventOfCode2024/AdventOfCode2024/obj
